* {
    margin: 0px;
}

h1,h2 {
font-family: "Agdasima", sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 48px;
}

body{
    font-family: Arial, Helvetica, sans-serif;    
}

/* |||||  Banner |||||*/
.topBanner {
    display: flex; 
    justify-content: center; 
    background-color: #00694D;
    color: white;
    padding: 10px;
}

.topBanner a {
    color: white;
}

.topBanner button {
    background: none;
    border: none;
    color: white;
    
}

/* |||||   Nav Bar  ||||| */
nav {
   text-align: center;
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: space-around;
    position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
   z-index: 1;
   box-shadow: 0px 1px 10px rgb(182, 182, 182);
}

nav a {
   text-decoration: none;
   color: black;
   padding: 15px;
}

nav a:hover {
color: #FF954C;
transition: 0.3s;
}

nav a #mainLogo {
    height: 30px;
}

#navSearch {
    width: 30vw;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid;
    background-color: #FBF6EE;
    border: none;
}

#navSearch::placeholder {
    color: #C59877;
}

/* __________________________________Index.html___________________________________________________________ */

#hero {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

#heroBg { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover; /* Ensures the video covers the entire container */
    z-index: -1;
}

#heroContent {
    position: relative;
    z-index: -1; 
    color: white; /* Example: set text color for readability */
    text-align: center;
    padding-top: 50vh; /* Example: adjust content positioning */
}

#hero h3 {
       font-weight: 300;
}

button:not(#bannerClose):not(.cart-close):not(.signInButton) {
    padding: 15px;
    width: 12vw;
    border: 0px;
    border-radius: 30px;
    background-color:#00694D ;
    color: white;
    margin: 30px;   
}


button:not(#bannerClose):not(.cart-close):hover {
   box-shadow: 2px 2px 10px #757575;
   transition: 0.2s all ease-out;
    cursor: pointer;
}

.Item {
      border-radius: 6px;
      padding: 20px;
      text-align: center;
}

.Item:hover {
     box-shadow: 2px 2px 10px #757575;
   transition: 0.2s all ease-out;
 
}


.RowItems {
   display: flex; 
   gap: 40px; 

   justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;

    
}

.RowItems h3 {
 font-weight: 600;
}

.RowItems h4,h5 {
 font-weight: 400;
}

.RowItems a {
    color: black;
}

.sectionBgB {
    background-color: #FBF6EE;
    padding: 150px; 
    justify-content: center;
    text-align: center;
}

.sectionBgB > h2 {
    color: #00694D;
}

.sectionBgW {
    background-color: #ffffff;
    padding: 150px; 
    justify-content: center;
    text-align: center;
}

.sectionBgW > h2 {
    color: #00694D;  
}

/* Categories */

.ItemCategory {
    position: relative;
  text-align: center;
   border-radius: 20px;   
}

.ItemCategory:hover {
   box-shadow: 2px 2px 10px #757575;
   transition: 0.2s all ease-out;
    border-radius: 20px;
    cursor: pointer;  
}

.ItemCategory img {
    height: 300px;  
}

.ItemCategory h2 {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Testimonials */
.ItemTestimonial {
    box-shadow: 0px 0px 10px #ededed;
    padding: 20px;
    border-radius: 10px ;
    text-align:left;
}

.ItemTestimonial p {
 margin-top: 4px;
 color: #878787;
 font-weight: 100;
}


/* Widget */
#widgetSection {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

#widget {
    background-color: #FF954C; 
    text-align: center; 
    padding: 25px;
    display: flex;
    justify-content: space-between;
     align-items: center;
     width: 50vw;
     border-radius: 10px;
}

#widget h2 {
    text-align: left;
    color: white;
    font-weight: 100;
   
}

#widget #widgetForm form{  
    display: flex;
    flex-direction: column;   
}

form input {
    padding: 10px;
    border-radius: 20px;
    border: 0px;
}

/* Footer */

footer {
    height: 350px;
    align-content: center;
    padding: 20px;
    background-image: url(images/Cocolinen-footerBg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

footer i {
    font-size: 30px;
    padding-right: 10px;
}

footer #socials {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footerSec {
    display: flex; justify-content: space-around;
}

footer #footerText {
      display: flex;
    flex-direction: column;
    row-gap: 20px;
}


footer #categoriesFooter {
    display: flex;
    flex-direction: column;
}

footer #categoriesFooter h3 {
    margin-bottom: 20px;
}

footer #contactdetails {
    display: flex;
    flex-direction: column;
}

footer #contactdetails h3 {
    margin-bottom: 20px;
}


footer a {
      text-decoration: none;
      color: white;
}

footer a:hover {
     
      color: #09a47b;
      transition: 0.3s;
}

/* _________________________________________products.html______________________________________________ */

#productsSection {
    display: flex;
    padding: 30px;
}

#ProductFilter {
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#productRowItems {
    display: flex; 
    gap: 50px; 
    flex-wrap: wrap; 
}

#productRowItems h3 {
 font-weight: 600;
}

#productRowItems h4,h5 {
 font-weight: 400;
}

#productRowItems a {
 font-weight: 400;
}

#productRowItems {
    display: flex; 
    gap: 50px; 
    flex-wrap: wrap;
}

#productRowItems a {
       color: black;
       text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

  input[type="radio"]:checked,input[type="checkbox"]:checked, input[type="range"] {
      accent-color: #00694D;
    }

#headingSection {
    display: flex;
    flex-direction: column;
    padding: 50px;
   background-color: #00694D;
    color: white;
} 

#headingSection a {

    color: white;
    text-decoration: none;
} 

/* ________________________________________________productDetails.html_____________________________________________________________ */

#productDetailSection {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
}


#productInformationSection {
    display: block;
    padding: 7vh 15vw;
    background-color: rgb(247, 247, 247);
}

.lineHeight {
    line-height: 1.8;

}

#mainProductImage {
    width: 400px;
}



#productInformationScroll {
    height: 300px; /* Or max-height: 200px; */
  overflow-y: auto; /* Or overflow-y: scroll; */
 box-shadow: inset 0px 2px 10px rgb(220, 220, 220);
  border-radius: 10px;
  padding: 10px;
}

#relatedProductsSection {
padding: 50px;
text-align: center;
}


#relatedProductImages {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

#relatedProductImages h4 {
 font-weight: 200;
}

#relatedProductImages a {
       color: black;
       text-decoration: none;
}

#mainProductInformation {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}

#mainProductInformation select#chooseSize {
   
    padding: 10px;
    border-radius: 20px;
    font-size: large;
    
}
/* ________________________________________________cart.html_____________________________________________________________ */


#MainCart {

    display: flex;
    justify-content: space-around;
}

#MainCartRow {
    display: grid;
      place-items: center;
}

#OrderSummary {

    width: 25vw;
    background-color: whitesmoke;
     margin: 20px;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgb(169, 169, 169);
}

.orderSummaryText {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.cartRow {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0px 0px 10px rgb(198, 198, 198);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: 60vw;
}

.cartRow button { 
    border: none;
    color: #00694D;
}

.cartRowImage {
    height: 100px;
}


/* ________________________________________________login.html_____________________________________________________________ */

#LoginNav {

 display: flex; 
 justify-content: center; 
 align-items: center; 
 padding: 20px;
}


.loginForm {
    display: grid;
    place-items: center;
  


}

.loginForm form {
     display: grid;
    place-items: left;
    padding: 45px; 
    text-align: left ;
    width: 25vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(152, 152, 152);
}

.loginForm label {
  
    text-align: left ;

}

.loginForm form>p {

    text-align: center;
}

.loginForm   input[type="email"],input[type="password"],input[type="text"] {

    border: 1px solid rgb(195, 195, 195);
}

.loginForm a {
    text-decoration: none;
    color:#00694D;
}

.loginForm .signInButton {
    padding: 15px;
    width: 100%;
    border: 0px;
    border-radius: 30px;
    background-color:#00694D ;
    color: white;
   
}

#tickPolicy {
    display: flex; 
    align-items: center;
}

#tickPolicy label {
    text-align: justify;
    padding-right: 10px;
}




